
.carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .carousel .stage {

    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .carousel .stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .carousel .stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .carousel .wrapper,
  .carousel .item {

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .carousel .item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: black;
    -webkit-touch-callout: none; }
  .carousel .item img {
    display: block;
    width: 100%; }
  .carousel .nav.disabled,
  .carousel .dots.disabled {
    display: none;
 }
  .carousel .nav .prev,
  .carousel .nav .next,
  .carousel .dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
  .carousel .nav button.prev,
  .carousel .nav button.next,
  .carousel button.dot {
    background: none;
   text-align: center;
    color: red;
    border: 5px;
    padding: 30px;
    font-size: 45px;
    position: center;
    align-items: center;
    }
  .carousel.loaded {
    display: block; }
  .carousel.loading {
    opacity: 0;
    display: block; }
  .carousel.hidden {
    opacity: 0; }
  .carousel.refresh .item {
    visibility: hidden; }
  .carousel.drag .item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .carousel.grab {
    cursor: move;
    cursor: grab; }
  .carousel.rtl {
    direction: rtl; }
  .carousel.rtl .item {
    float: right; }

/* No Js */
.no-js .carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.carousel .animated-in {
  z-index: 0; }

.carousel .animated-out {
  z-index: 1; }

.carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.carousel .item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the item that breaks page layouts
		 */ }
  .carousel .item .lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .carousel .item .lazy[src^=""], .carousel .item .lazy:not([src]) {
    max-height: 0; }
  .carousel .item img.lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.carousel .video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.carousel .video-play-icon {
 /* position: absolute;*/
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.carousel .video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.carousel .video-playing .video-tn,
.carousel .video-playing .video-play-icon {
  display: none; }

.carousel .video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.carousel .video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }