.container-button,.container-1,.container-2{
  width: 65%;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
}




body{
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(245, 238, 238, 0.89);
}
nav{
  margin-bottom: 40px;
}
img{
  max-width: 100%;
  transition: all 0.7s ;
}
