<html>
  <head>
  <div class="topnav">
    <div class="container-nav" >
      <a href="/">NJIT</a>
      <div class="topnav-right">
        <a href="/users/login">Log In</a>
        <a href="/users/register">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
        
        <div class="refresh">
          <form method="GET" id="refresh" action="/">
            <Button type="submit" >Refresh</Button>
          </form> 
          
        </div>
      </div>
      
    </div>
  </div><div>
  </div>
  </div>

  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../public/style.css">
        <style>
            .form-control{
                border-color: red;
            }
         
             
        </style>
</head>


 
  <div class="welcome-text">
  </div>


  <body style="background-color: white">

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../css/card.css">
            <link rel="stylesheet" href="../css/carousel.css">
            <script src="../js/carousel.js"></script>
    
        </head>
        <body>
        <div>
            <h2 style="text-align: center; box-shadow: 0 .5rem 1rem #D1D9E6; top: 120px; position: relative;  width: 100%">View Archives</h2></div>
    
            <!-- <h1 class="title-shop">SHOP</h1> -->
            <main class="main bd-grid carousel">
                <article   class="card">
                    <a href="https://njithighlanders.com/news/2022/3/19/baseball-vurpillats-gem-leads-njit-to-shutout-victory-vs-hartford.aspx">
                    <div class="card__img">
                        <img src="../images/vurpillat.png" alt="">
                    </div>
                    <div class="card__name">
                        <p>BASEBALL</p>
                    </div>
                    <div class="card__precis">
                        <a href="" class="card__icon" ></a>
                        
                        <div>
                            <p>Vurpillat's Gem Leads NJIT to Shutout Victory vs. Hartford</p>
                        </div>
    
                    </div></a>
                </article>
    
    
                <article class="card">
                    <a href="https://njithighlanders.com/news/2022/3/18/baseball-njit-dominates-hartford-in-15-1-america-east-conference-opener.aspx">
                    <div class="card__img">
                        <img src="../images/group baseball.png" alt="">
                    </div>
                    <div class="card__name">
                        <p>BASEBALL</p>
                    </div>
                    <div class="card__precis">
                        <a href="" class="card__icon" ></a>
    
                        <div>
                            <p>NJIT Dominates Hartford, 15-1, in  America East Conference Opener</p>
                        </div>
                    </div></a>
                </article>
    
                <article class="card">
                    <a href="https://njithighlanders.com/news/2022/3/18/mens-tennis-falls-to-incarnate-word-in-spring-break-finale-in-texas.aspx">
                    <div class="card__img">
                        <img src="../images/tennis.png" alt="">
                    </div>
                    <div class="card__name">
                        <p>MEN'S TENNIS</p>
                    </div>
                    <div class="card__precis">
                        <a href="" class="card__icon" ></a>
    
                        <div>
                            <p>Men's Tennis Falls to Incrate Word in Spring Break Finale in Texas</p>
                        </div>
                    </div></a>
                </article>
    
                <article class="card"><a href="https://njithighlanders.com/news/2022/3/18/mens-lacrosse-opens-america-east-play-saturday-afternoon-against-vermont.aspx">
                    <div class="card__img">
                        <img src="../images/laccrosse.png" alt="">
                    </div>
                    <div class="card__name">
                        <p>Men's Laccrosse</p>
                    </div>
                    <div class="card__precis">
                        <a href="" class="card__icon" ></a>
    
                        <div>
                            <p>Men's Laccrosse Opens America East Play Saturday Afternoon Against Vermont</p>
                        </div>
                    </div></a>
                </article>
                <article class="card"><a href="https://njithighlanders.com/news/2022/3/18/mens-volleyball-mens-volleyball-moves-back-into-the-win-column-sweeps-charleston-in-eiva-action.aspx">
                    <div class="card__img">
                        <img src="../images/vollyball.png" alt="">
                    </div>
                    <div class="card__name">
                        <p>MEN'S VOLLEYBALL</p>
                    </div>
                    <div class="card__precis">
                        <a href="" class="card__icon" ></a>
    
                        <div>
                            <p>No. 15 NJIT Moves back into the win column; Sweeps Charleston in EIVA ...</p>
                        </div>
                    </div></a>
                </article>
                <article class="card"><a href="https://njithighlanders.com/news/2022/3/17/womens-tennis-womens-tennis-ends-spring-break-with-win-over-incarnate-word.aspx">
                    <div class="card__img">
                        <img src="../images/tennis1.png" alt="">
                    </div>
                    <div class="card__name">
                        <p>WOMEN'S TENNIS</p>
                    </div>
                    <div class="card__precis">
                        <a href="" class="card__icon" ></a>
    
                        <div>
                            <p>Women's Tennis Ends Spring Break with Win Over Incarnate Word</p>
                        </div>
                    </div></a>
    
                </article>
                <article class="card"><a href="https://njithighlanders.com/news/2022/3/17/baseball-highlanders-open-home-conference-slate-this-weekend-vs-hartford.aspx">
                    <div class="card__img">
                        <img src="../images/baseball1.png" alt="">
                    </div>
                    <div class="card__name">
                        <p>BASEBALL</p>
                    </div>
                    <div class="card__precis">
                        <a href="" class="card__icon" ></a>
    
                        <div>
                            <p>Highlanders Open Home, Conference Slate This Weekend vs. Hartford</p>
                        </div>
                    </div></a>
    
                </article>
            </main>
    
    <div>
    
    
    
            <!-- ICONS -->
            <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
            <!-- Jquery CDN  -->
            <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    
    
    <!-- Owl Slider  -->
        
    <script src="../js/carousel.js"></script>
    
    
    <script>
        $('.carousel').owlCarousel({
        loop:true,
        margin:15,
        nav:true,
        items: 4,
        autoplay:true,
        autoplayTimeout:6000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                 items:1
             },
             574:{
                 items:2
             },
             600:{
                 items:2
             },
             800:{
                 items:3
             },
             1000:{
                 items:4
             },
          
         }
        
    })
    </script>
    
    </div>
        </body>
    </html>
    
  <script src="moment.js"></script>
  <script src="moment-timezone-with-data.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>